* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Arial";
}

main {
    width: 100%;
    height: 100%;
}

header {
    background: rgb(21, 20, 20);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px;

}

.logo-texto {
    margin-left: 20px;
}

.container-logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.menu li a {
    /* background-color: red; */
    padding: 10px 15px;
}

.caixa {
    padding: 10px 10px;
    margin-right: 10px;
    width: 300px;
}

.caixa select a {
    margin-right: 10px;
}

nav {
    background: rgb(45, 40, 40);
    margin: 0;
    opacity: 1;
    overflow: auto;
}

ul {
    list-style: none;
}

li {
    display: block;
    width: 45%;
    float: left;

    text-align: center;
    padding: 15px;

}

nav a {
    color: white;

    text-decoration: none;
    font: 10px "Arial";

}

nav a:hover {
    color: gray;

}

fieldset {
    border: 0;
}

main {
    font-size: 1em;
    color: purple;
    margin-left: 30%;
    margin-top: 2%;
    justify-content: center;
    /* background-color: rgb(45, 23, 143); */
    font-family: sans-serif;
}

input {
    font-family: sans-serif;
    font-size: 1em;
    color: #fafafb;
    /* border-radius: 5px; */
    background-color: #181818;
}

select {
    font-family: sans-serif;
    font-size: 1em;
    /* color: #59429d; */
    /* border-radius: 5px; */
    background-color: #96948f;
}

textarea,
button {
    font-family: sans-serif;
    font-size: 1em;
    /* color: #59429d; */
    /* border-radius: 5px; */
}

.botao {

    font-size: 1.2em;
    background: rgb(93, 93, 96);

    border: 0;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    margin-bottom: 1em;
    padding: 0.2em 0.6em;



    /*
    position: absolute;
    top: 32%;
    left: 75%; 
    margin-right: -50%;
     
    transform: translate(-50%, -50%);*/
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.campo1,
.campo2 {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    width: 10%;
}

.sele1,
.sele2 {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
}

.caixa-selecao-com-texto {
    display: flex;
    align-items: center;
}

#textoClon {
    margin-left: 10px;
    margin-bottom: 20px;
}

.caixa-selecao-com-imagem {
    display: flex;
    align-items: center;
}

.imagem {
    margin-right: 10px;
    margin-bottom: 20px;
}

.caixa-selecao-com-imagem2 {
    display: flex;
    align-items: center;
}

.imagem2 {
    margin-right: 10px;
    margin-bottom: 20px;
}

.sele2 {
    margin-right: 10px;
}